NODE_ENV=development
PORT=3001

# Local PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/hamacaterapia

# Para local puede ser igual a DATABASE_URL.
# En Neon producción será la conexión directa no pooled.
DIRECT_URL=postgresql://postgres:postgres@localhost:5433/hamacaterapia

JWT_SECRET=tu_secreto_jwt_super_seguro_aqui_cambialo
JWT_EXPIRES_IN=7d

# Orígenes separados por coma
CORS_ORIGIN=http://localhost:5173

APP_NAME=APP_Neonatos